[Unit]
Description=Run reboot-wifi-lost.service

[Timer]
# fire the timer every 5 minutes
OnCalendar=*:0/5
# implicitly starts reboot-wifi-lost.service

[Install]
WantedBy=reboot-wifi-lost.service
